body{
  text-align: center;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR44mttIsbYjBvcbZsETiiDeTebzCAzwbPE5nwPzxp9kt075tGJVQ)
}
h1{
  font-family: 'Fascinate Inline', cursive;
  font-size: 90px;
  color: #8c5bff;
}
img{
  border-style: outset;
}
a{
  font-size: 20px;
  border-style: groove;
  border-color: #b7e2ff;
}
